@media only screen and (max-width:350px){
    #card-title {
        font-size: 14px;
        line-height: 14px;
    }
    .precio {
        font-size: 10px;
        letter-spacing: 1px;
        padding-left: 3px;
    }
    .card-div2 {
        font-size: 9px;
        letter-spacing: 1px;
        padding-top: 2px;
        line-height: 10px;
    }
    .card-text {
        font-size: 8px;
        letter-spacing: 1px;
    }
    .featured-properties-container{
        padding-left: 5vh;
    }
    .card-div4 {
        font-size: 1.5vh;
    }
    .card-div4 button {
        padding: 4px 10px;
    }
    .card-body {
        padding-top: 15px;
    }
    .navbar-brand img{
        height: 90px;
    }
    .navbar-brand {
        padding-right: 0rem;
    }
    form[id="form"]{
        font-size: 10px !important;
    }
    .submit-btn {
        width: 60px;
        height: 25px;
    }
    .error{
        font-size: 10px;
    }
    .title{
        font-size: 4vh;
    }
    .agent-right h2{
        font-size: 21px;
    }
    .agent-right p{
        font-size: 10px;
    }
    .agent-left{
        padding-left: 18% !important;
    }
    .bullets {
        font-size: 9px;
    }
}
@media only screen and (max-width:375px){
    .preloader{
        display: none;
    }
    form[id="form"]{
        font-size: 9px;
    }
    .card img{
        height: 22vh;
    }
    .banner-title{
        font-size: 5vh;
    }
    .top2-services{
        padding: 2rem 1.5rem !important;
    }
}
@media only screen and (max-width:425px){
    #loading-logo{
        padding-left: 0% !important;
        padding-bottom: 0%;
    }
    #about-costarealty{
        font-size: 35px !important;
        line-height: 32px !important;
        padding-bottom: .8rem !important;
    }
    #aboutus-costarealty{
        font-size: 20px !important; 
    }
    .aboutus-home{
        padding: 1rem 2rem !important;
    }
    .fede-pic img{
        width: 15rem !important;
        height: 15rem !important;
    }
    #wasap{
        font-size: 11px;
        letter-spacing: 1px;
    }
    .title-fedess{
        font-size: 15px;
        line-height: 15px;
    }
    .service-description p{
        font-size: 13px;
        letter-spacing: 2px;
    }
    .services-title{
        font-size: 20px !important ;
    }
    .service-description{
        padding: 1rem;
    }
    .contact i{
        font-size: 1.5em;
    }
    .contact ul{
        width: auto;
        padding-left: 0;
        margin-bottom: 0;
    }
    .contact p{
        font-size: 9px;
        letter-spacing: 1px;
    }
    .subtitle-form{
        padding-top: 1em !important;
    }
    .error{
        font-size: 9px;
        letter-spacing: 1px;
    }
    .butn{
        width: 4rem !important;
        height: 1.8rem;
        font-size: 11px;
    }
    .form-input{
        padding-top: 0.5rem;
    }
    .form-input textarea{
        border-bottom: 1.4px solid black;
    }
    .form-input input{
        font-size: 10px;
        border-bottom: 1.4px solid black;
    }
    .contactus-subtitle{
        font-size: 20px;
    }
    .social i{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 500px){
    .aboutus-home{
        padding: 2rem 2rem;
    }
}
@media only screen and (max-width: 600px){
    .stats{
        grid-template-columns: 1fr;
    }
    .properties-cards {
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    }
    #card-title {
        font-size: 16px;
        line-height: 16px;
    }
    .precio {
        font-size: 11px;
    }
    
    .card-div2 {
        font-size: 13px;
    }
    .card-text {
        font-size: 13px;
    }
    form[id="form"]{
        font-size: 12px;
    }
    .form-input input{
        padding: 5px;
        height: 4vh;
    }
    .form-input textarea{
        padding: 5px;
        min-height: 12vh;
    }
    .form-input label{
        width: 20vw;
    }
    .agent-left{
        padding-left: 25%;
    }
} 
@media only screen and (max-width: 680px){
    .filter-form-property{
        grid-template-columns: 1fr;
    }
    .filter select{
        width: 40vw;
        height: 5vh;
        font-size: 11px;
    }
    .top2-services{
        padding: 2rem 5rem;
    }
    .property-info video{
        padding-top: 1rem;
    }
} 
@media only screen and (min-width: 680px){
    .error{
        margin-left: -10%;}
}

@media only screen and (max-width:720px) {
    .contact-info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contact-lefts{
        margin-left: 50%;
        transform: translateX(-50%);
        padding-left: 0 !important;
    }
    .contact-page-form{
        width: 54vw;
    }
    .contact-page-form input{
        width: 42vw;
    }
    .contact-page-form textarea{
        width: 42vw;
    }
}
@media only screen and (max-width:768px){
    #loading-logo{
        width: 30rem !important;
        height: 30rem !important;
        padding-left: 42%;
        padding-bottom: 5%;
    }
    .preloader{
        padding:20vh 2vh;
    }
    .fede-profile{
        grid-template-columns: 1fr;
        padding: 7rem 2rem;
        text-align: center;
    }
    .fede-pic{
        padding-left: 0 !important;
    }
    .bio{
        padding-right: 0;
        text-align: center;
    }
    .bullets p{
        margin-bottom: 0.5em;
        font-size: 12px;
    }
}
@media only screen and (max-width:870px){
    .about-us-home{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .fede-pic img{
        width: 19rem;
        height: 19rem;
    }
    .subtitle-form{
        font-size: 2.5vw !important;
    }
    .contact{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .contact-lefts{
        padding-left: 1.5rem;
    }
}
@media only screen and (max-width:980px){
    .nav-link{
        width: 15%;
    }
    .navbar-nav li{
        padding-left: 1.4rem;
    }
    .fede-pic{
        padding-left: 10% !important;
    }
    .title-fede{
        font-size: 35px;
        line-height: 40px;
    }
    .contact-page-form input {
        margin-left: 0rem !important;
    }
    .contact-info{
        padding-top: 0;
        padding-bottom: 0;
    }
    .contact-page-form{
        text-align: center;
        padding-bottom: 1rem !important;
    }
    .subtitle-form{
        padding-left: 0rem;
        padding-top: 2rem;
        font-size: 17px;
    }
    .contact-page-form textarea {
        margin-left: 0rem !important;
    }
    .form-submitt{
        padding-left: 0;
    }
}
@media only screen and (max-width:1024px){
    #loading-logo{
        width: 41rem;
        height: 41rem;
    }
}
@media only screen and (min-width: 980px){
    .errors{
        margin-left: 15% !important;}
}
@media only screen and (min-width: 1025px){
    .error{
        margin-left: -22%;}
}
@media only screen and (max-width:1144px){
    .fede-pic{
    padding-left: 25%;
    }
}
