/* ======= fonts imports  ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* ======== End fonts imports =======*/

body {
  font-family: "Poppins", sans-serif;
}

/* ========== loading screen =================*/
.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 35vh 0;
}
#loading-logo {
  width: auto;
  height: 30vh;
}

/* ========== Navbar =================*/
.navbar {
  padding: 0;
}
.navbar-toggler {
  border: none;
}
.navbar-nav {
  padding: 2px 0;
  border-top: 1px solid #b9a360;
  border-bottom: 1px solid #b9a360;
}

.navbar-nav li + li {
  padding-left: 1.4rem;
}
.nav-link {
  color: #b9a360 !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
  border-bottom: 0px solid #b9a360;
}

.nav-item :hover {
  border-bottom: 1px solid #b9a360;
  font-weight: 350;
}

.active {
  color: #b9a360 !important;
  font-weight: bolder !important;
  border-bottom: 2px solid #b9a360 !important;
}
.navbar-brand img {
  width: 65%;
  height: 100px;
}

.navbar-brand {
  padding-left: 8%;
  padding-right: 0.7rem;
}

.container-fluid {
  padding: 0 1rem;
}

/* ======= End Navbar =============*/

/* ======== Footer ==================*/
.footer-area {
  background-color: rgb(243, 241, 241);
  padding: 2rem 0;
}

.social i {
  padding-left: 3%;
  color: dimgray;
}

.hoveer :hover {
  filter: brightness(190%);
}

/* ======== End Footer ===============*/

/* ======== Carousel - home ===============*/
.carousel {
  height: auto;
  position: relative;
}
.carousel-item img {
  max-height: 600px;
  object-fit: cover;
}
.upper-case {
  text-transform: uppercase;
}
.carousel-filters {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 25%;
}

.carousel-filters ul {
  list-style-type: none;
  display: flex;
  padding: 3%;
  margin-top: 33%;
}

.carousel-filter-container {
  width: 800px;
  background-color: #ed994175;
}

.filters li {
  padding: 4px;
}

.submit-btn {
  background-color: white;
  color: #777777;
  border-radius: 4px;
  border: none;
  width: 100px;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: #777777;
  color: white;
  transition: 0.3s;
}

/* ======== End Carousel - home ===============*/

/* ======== Featured properties - home ===============*/
.featured-properties-container {
  padding: 8vh;
  background-color: rgb(241, 240, 240);
}

.heading-fp {
  text-align: center;
  padding-bottom: 2rem;
  color: #bc9979;
}

.title {
  text-transform: uppercase;
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 5vh;
  letter-spacing: 5px;
}
.properties-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-self: center;
}
.card {
  margin: 2rem;
  width: 90%;
  height: auto;
  align-self: center;
  border: none;
  max-width: 500px;
}
.card img {
  height: 30vh;
}
.card-div1 {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  padding: 5px;
}

.card-body {
  color: #777777;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  padding-top: 25px;
}

#card-title {
  font-family: "Open sans", sans-serif;
  font-weight: 700 !important;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
}

#card-subheader {
  line-height: 0px;
  font-size: 14px;
}

.precio {
  /* text-align: center; */
  margin-top: 15px;
  font-size: 15px;
}

.card-div2 {
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 15px;
}

.card-div2 ul {
  padding-left: 0 !important;
}

.card-div2 li {
  display: inline-flex;
}

.card-div3 {
  padding: 0;
}

.card-text {
  font-weight: 300;
  font-size: 16px;
}

.card-div4 {
  padding-top: 1rem;
  padding-left: 0;
  font-size: 2vh;
  text-align: center;
}

.card-div4 button {
  padding: 8px 20px;
  border: 2px solid orange;
  color: orange;
  background-color: white;
}

.card-div4 :hover {
  background-color: orange;
  color: white;
  transition: 0.3s ease;
}

.vermas {
  text-align: center;
}
.vermas button {
  margin-top: 5%;
  padding: 8px 20px;
  border: none;
  background-color: transparent;
  color: #777777;
}

.vermas :hover {
  background-color: #777777;
  color: white;
}

/* ======== End Featured properties - home ===============*/

/* ======== Our Services - home ===============*/
.our-services-title {
  padding: 5rem 0 1rem 0;
  text-align: center;
  color: #777777;
}
.service-card {
  height: auto;
}
.service-icon {
  align-self: center;
  color: #bc9979;
  border: 3px solid #bc9979;
  padding: 2rem;
  border-radius: 100%;
}
.service-title {
  color: #bc9979;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}
.card-texts {
  text-align: center;
  letter-spacing: 3px;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 0 5px;
  font-size: 16px;
}
.vermas-contact {
  padding-bottom: 5rem;
}
.vermas-contact button {
  border: 2px solid #bc9979;
  color: #bc9979;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
}
.vermas-contact :hover {
  background-color: #bc9979;
  color: white;
}
/* ======== End Our Services - home ===============*/
.about-us-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutus-home {
  padding: 2rem 6rem;
  text-align: center;
  background-color: rgb(228, 149, 59);
  color: white;
}
.aboutus-home-img img {
  width: 100%;
  height: 100%;
}
.aboutus-home-img {
  background-image: url(/images/jaco-penthouse/jaco13.jpeg);
  background-size: cover;
}
.vermas-about-home {
  padding-left: 0rem;
}
.vermas-about-home button {
  border: 2px solid white;
  color: white;
}
.vermas-about-home :hover {
  background-color: white;
  color: rgb(228, 149, 59);
}
/* ======== End Our Services - home ===============*/

/* ======== Fede Profile - home ===============*/
.fede-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7rem 0;
}
.fede-pic {
  padding-left: 35%;
  padding-top: 7%;
  padding-bottom: 10%;
}
.fede-pic img {
  border-radius: 50%;
  width: 22rem;
  height: 22rem;
}
.fede-info {
  color: #777777;
  letter-spacing: 2px;
}
.title-fede {
  font-family: "Playfair display", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.subtitle-fede {
  font-family: "open sans", sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.bio {
  padding: 1rem 10rem 1rem 0;
  text-align: left;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.whatsapp ul {
  list-style: none;
  display: inline-flex;
  font-weight: 800;
}
.whatsapp li + li {
  padding-left: 10px;
}
.socials {
  padding-left: 1rem;
}
.socials i {
  color: #777777;
  padding: 0 10px;
}
/* ======== End Fede Profile - home ===============*/

/* ======== Contact Form - home ===============*/

.contact-form {
  padding-top: 4rem;
  text-align: center;
}
.title-fedes {
  letter-spacing: 5px;
}
.title-fedess {
  margin-left: 0%;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1px;
}
input[id="name"] {
  width: 50vw;
  height: 6vh;
  /* border: 1px solid lightgray; */
  border: none;
  margin-left: 8.4%;
  padding: 1rem;
}
input[id="email"] {
  border: none;

  width: 50vw;
  height: 6vh;
  /* border: 1px solid lightgray; */
  margin-left: 8%;
  padding: 1rem;
}
textarea[id="message"] {
  border: none;
  /* border: 1px solid lightgray; */
  margin-left: 4.1%;
  width: 48vw;
  padding: 1rem;
  min-height: 17vh;
}
.form-input {
  display: inline-flex;
  padding: 1rem 0 0 0;
}
form[name="contact-form"] {
  padding-bottom: 3rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form[name="contact-form"] label {
  color: rgb(88, 86, 86);
  font-weight: 400;
  font-family: "open sans", sans-serif;
  display: inline-flex;
}
form[name="contact-form"] span {
  color: red;
  font-size: larger;
}
.form-submit {
  padding-left: 0rem;
  padding-top: 1rem;
}
.error {
  color: red;
  font-size: 12px;
}
.error-border {
  border: 1px solid red;
}
#success {
  color: greenyellow !important;
}
/* ======== End Contact Form - home ===============*/

/* ======== Contact Us page ===============*/
.contactus-photo {
  padding: 0rem 5rem;
  width: 100%;
  height: auto;
  background-color: rgb(243, 241, 241);
}
.contactus-photo img {
  width: 100%;
  height: 28rem;
  object-fit: contain;
}
.contactus-photo p {
  text-transform: uppercase;
  position: absolute;
  margin-left: 35%;
  margin-top: 13%;
  align-items: center;
  color: white;
  font-family: "Playfair display", sans-serif;
  font-size: 6vh;
  font-weight: bold !important;
  letter-spacing: 4px;
}
.contactus-subtitle {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 25px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "open sans", sans-serif;
  font-weight: 700;
}
.contact-info {
  padding-left: 0%;
  padding-top: 7%;
  padding-bottom: 3%;
  letter-spacing: 3px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.contact {
  color: #777777;
  letter-spacing: 2px;
  font-family: "open sans", sans-serif;
  align-items: center;
  text-align: left;
  padding-bottom: 2rem;
  font-size: 15px;
}
.contact ul {
  list-style: none;
  display: inline-flex;
  letter-spacing: 4px;
}
.contact a {
  text-decoration: none;
  color: #777777;
}
.left {
  padding-right: 30px;
}
.contact-page-form {
  background-color: white;
  width: 41vw;
  padding: 1rem 0rem;
}
.contact-page-form input {
  width: 33vw;
  margin-left: 3rem !important;
  border: none;
  border-bottom: 2px solid black;
}
.contact-page-form textarea {
  width: 33vw;
  margin-left: 3rem !important;
  min-height: 1rem !important;
  border: none;
  border-bottom: 2px solid black;
}
.subtitle-form {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 19px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.contact-lefts {
  padding-left: 3rem;
  align-items: center;
}
.form-submitt {
  padding-left: 3rem;
}
/* ======== Contact Us page ===============*/

/* ======== Our Services page ===============*/
.top2-services {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 10rem;
}
.service {
  padding: 2rem 0.6rem;
  position: relative;
  flex: 1 1 500px;
}
.service img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.service-description {
  background-color: #ed9941;
  color: white;
  padding: 2rem;
  position: relative;
  width: 78%;
  height: auto;
  margin-left: 15%;
  margin-top: -20%;
  letter-spacing: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.services-title {
  font-family: "playfair display", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}
.bottom-services {
  padding: 2rem 6rem;
  position: relative;
}
.bottom-services img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
/* ======== End Our Services page ===============*/

/* ======== Agents page ===============*/
.banner {
  padding: 2vh 4vw;
}
.agents-banner {
  background-image: url(/images/jaco-penthouse/jaco12.jpeg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  filter: brightness(0.66);
}
.services-banner {
  background-image: url(/images/jaco-penthouse/jaco13.jpeg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  filter: brightness(0.66);
}
.banner-title {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-70%);
  margin-top: -32vh;
  color: white;
  font-family: "Playfair Display SC", sans-serif;
  text-transform: uppercase;
  font-weight: bold !important;
  letter-spacing: 5px;
  font-size: 7vh;
  position: absolute;
}
.agents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10vh 9vw;
}

.agent {
  background-color: rgb(243, 243, 243);
  padding: 3vw;
  margin: 1vh 1.5vw;
}
.agent-foto {
  text-align: center;
  padding-bottom: 2vh;
}
.agent-foto img {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}
.agent-position {
  padding-bottom: 2vh;
  text-align: center;
  letter-spacing: 3px;
  color: #bc9979;
  font-family: "playfair display sc", sans-serif;
}
.agent-name {
  text-align: center;
  color: #777777;
  font-size: 3vh;
  font-weight: 700 !important;
  font-family: "Open sans", sans-serif;
}
.agent-description {
  color: #777777;
  font-weight: 300;
  font-size: 2vh;
  letter-spacing: 2px;
  line-height: 1.8;
}

/* ======== End Agents page ===============*/
/* ======== Start About Us page ===============*/
.about-us-main {
  padding: 2vh 9vw;
  letter-spacing: 3px;
}
.about-us-main h2 {
  color: #ed9941;
  font-family: "open sans", sans-serif;
  font-weight: 600;
}
.about-us-main p {
  font-family: "open sans", sans-serif;
  color: #777777;
  font-size: 2vh;
  line-height: 4vh;
  padding: 1vh 0;
}
.photo-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 0;
}
.projects-photo {
  flex: 1 1 400px;
  padding: 0 2vw;
}
.projects-photo img {
  width: 40vw;
  height: auto;
}
.our-projects-description {
  padding-right: 4vw;
  padding-top: 4vh;
}
.stats {
  background-color: #ed9941;
  margin: 6vh 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  text-align: center;
  padding: 4vh 4vw;
}
.stat {
  border: 0px solid #777777;
  font-size: 2vh;
  color: white;
  font-weight: 600;
  font-family: "open sans", sans-serif;
  letter-spacing: 3px;
  padding: 3vh 0;
}
.count {
  font-size: 5vh;
}
.count::before {
  content: "";
}
.testimonials {
  padding: 3vh 1vw 5vh 1vw;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}
.testimonial {
  padding: 2vh 5vw;
  color: #777777;
  font-family: "poppins", sans-serif;
  letter-spacing: 2px;
  line-height: 4vh;
}
.user-label ul {
  list-style: none;
  display: inline-flex;
  align-content: center;
  line-height: 5vh;
  font-size: 2vh;
}
.user-label li + li {
  padding-left: 1vw;
}
.testimony-title {
  padding-left: 5vw;
  padding-bottom: 4vh;
}
.testimony-title h2 {
  color: #ed9941;
  font-weight: 900;
}
/* ======== End About us page ===============*/

/* ======== Buy/Rent page ===============*/
.property-filters {
  background-color: #ed9941;
  padding: 8vh 10vw;
  text-align: center;
  color: white;
}
.filter {
  padding: 1vh 1vw;
}
.filter select {
  width: 24vw;
  height: 6vh;
  border: none;
  padding-left: 1vw;
}
.filter-form-property {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 4vh 1vw;
}
.postform {
  letter-spacing: 2px;
  color: black;
  padding: 1vh 1vw;
  width: 20px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  text-align: center;
}

.postform1,
.postform2,
.postform3 {
  border-radius: 0px;
}
.price-range {
  padding: 2vh 2vw;
}
input[type="range"] {
  width: 30vw;
  appearance: none;
  border-radius: 0px;
  height: 2px;
  background-color: #cfcccc;
}
input[id="amount"] {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 2vh 0;
  width: 100%;
  text-align: center;
}
#slider-range {
  border: none;
  background-color: rgb(44, 255, 244);
  width: 30vw;
  height: 0.4vh;
  margin-left: 50%;
  transform: translateX(-50%);
}
.ui-state-default {
  border: none !important;
  border-radius: 50% !important;
  height: 13px !important;
  width: 13px !important;
}
/* ======== End Buy/Rent page ===============*/

/* ======== Each Property page ===============*/
.property-page {
  padding: 3vh 8vw;
  color: #777777;
  letter-spacing: 2.5px;
}
.title-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2vw;
}
.property-carousel {
  padding-bottom: 2vh;
  padding-top: 1vh;
}
.property-details {
  display: flex;
  flex-wrap: wrap;
}
.property-location iframe {
  padding: 0 2.5vw;
}
.property-info {
  flex: 1 1 280px;
  padding: 0vh 2.5vw;
  line-height: 3.5vh;
}
.property-info video {
  width: 100%;
  height: auto;
}
.property-page h1 {
  width: 100%;
}
.icons p {
  margin-bottom: 0;
}
.info h1 {
  font-family: "playfair display", sans-serif;
  color: #b9a360;
  padding-top: 5vh;
  padding-bottom: 4vh;
  text-transform: uppercase;
}
.info {
  padding: 1vh 0;
}
.agent-left img {
  border-radius: 50%;
  width: 12em;
  height: 12em;
}
.contact-agent {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 2.5vw 8vh 2.5vw;
}
.bullets {
  font-size: 15px;
}
.agent-right {
  padding-top: 2.5em;
  padding-left: 2em;
}
.agent-right i {
  font-size: 1.5em;
  padding-right: 0.5em;
}
#more {
  display: none;
}
#myBtn {
  background-color: transparent;
  border-color: transparent;
  color: #b9a360;
}
#dots {
  color: #b9a360;
}
/* ======== End Property page ===============*/

/* js classes */
.hidden {
  display: none;
}
.hiddens {
  opacity: 0;
}
.successEmail {
  color: rgb(45, 229, 42);
}

.success {
  margin: 7vh 30% 0;
}

/* carousel controls */
.carousel-control-next {
  /* background-color: #40404098; */
  background-image: linear-gradient(to right, transparent, #2d2c2cce);
}
.carousel-control-prev {
  /* background-color: #40404098; */
  background-image: linear-gradient(to left, transparent, #2d2c2cd1);
}
